
/* Eléments principaux de la page */

body
{
    background: url('images/body.jpeg');
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
    background-size: 100%;
}

#bloc_page
{
    width: 900px;
    margin: auto;
}

section h1, footer h1, nav a
{
    font-family: Dayrom, serif;
    font-weight: normal;
    text-transform: uppercase;
}

/* Header */

header
{
    background: url('images/separateur.png') repeat-x bottom;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#titre_principal
{
    display: flex;
    flex-direction: column;
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img
{
    width: 59px;
    height: 60px;
}

header h1
{
    font-family: 'BallparkWeiner', serif;
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 0 10px;
}

header h2
{
    font-family: Dayrom, serif;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}

/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}
#banniere_image{
    margin-top: 15px;
    height: 400px;
    border-radius: 5px;
    background-image: url('images/ucad.jpg');
    background-size: 100%;
    position: relative;
    box-shadow: 0px 4px 4px #000000;
    margin-bottom: 25px;
}
#ban-desc
{
    position: absolute;
    bottom: 0px;
    border-radius: 0px 0px 5px 5px;
    width: 99.5%;
    height: 33px;
    padding-top: 15px;
    padding-left: 4px;
    background-color: rgba(182, 23, 23, 0.8);
    color: white;
    font-size: 0.8em;
}
.V-A
{
    height: 25px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    background: url('images/direct.png') ;
    border: 1px solid #760001;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    padding: 3px 8px 0px 8px;
    color: rgb(226, 214, 214);
    text-decoration: none;
}
.V-A img
{
    border: 0;

}

/* Footer */

footer
{
    display: flex;
    background:  url('images/ico_top.png') no-repeat top center, url('images/separateur.png') repeat-x top, url('images/ombre.png') repeat-x top;
    padding-top: 25px;
}
#sec-footer{
    width: auto;
}
#cont-actu
 {
    width: auto;
    height: 200px;
    margin:auto;
    margin-top: 10px;
    background-color:#8bc0a8;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px #fff solid;
}
#fh1{
    font-size: 30px ;
    font-weight: bolder;
    color: blue;
}

#listes_fac
{
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}
#cont-fac
 {
    width: 500px;
    height: 200px;
    margin:auto;
    margin-top: 10px;
    background-color:#71ac90;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px #fff solid;
    float: right;
}
li{
    font-size: 20px;
    color: rgb(20, 24, 24);
    font-weight: bold;
    text-decoration: none;
    display: flex;
}
#cont-contact
 {
    width: 500px;
    height: 200px;
    margin:auto;
    margin-top: 10px;
    background-color:#4b8b6e;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px #fff solid;
    float: right;
}